.Foots-Typipoop {
    cursor: default;
    margin: 3%;
    color: #1A1A1A;
    text-align: center;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 7%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between; 

    & div {
        display: flex;
        justify-content: space-around;
    }

    & .follow-us {
        flex-direction: column;

        @include bp-up(md) {
            flex-direction: row;
        }
    }

    & a {
        cursor: pointer;
        border-radius: 8px;
        margin-top: -2px;
        margin-left: 2px;
        transition: width 0.3s, height 0.3s, margin 0.3s, border-radius 0.4s;

        &:hover {
            filter: drop-shadow(1.5px 3px 3px);
            margin-top: -4px;
            margin-left: 2.75px;
            width: 34px;
            height: 34px; 
        }
    }

    & .lm1 {
        background-image: url("/images/facebook.png");
        background-size: 100% 100%;
        width: 32px;
        height: 32px;
    }

    & .lm2 {
        background-image: url("/images/instagram.png");
        background-size: 100% 100%;
        width: 32px;
        height: 32px;
    }

    & .lm3 {
        background-image: url("/images/twitter.png");
        background-size: 100% 100%;
        width: 32px;
        height: 32px;
    }

    & .lm4 {
        background-image: url("/images/in.png");
        background-size: 100% 100%;
        width: 32px;
        height: 32px;
    }
}